

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css");


@import url(components/btn.css);
@import url(components/navbar.css);
@import url(components/banner.css);
@import url(components/card.css);
@import url(components/footer.css);


html {
	scroll-behavior: smooth;
}

h1 {
	color: green;
	font-size: 2,5rem;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.5rem;
}

h4 {
	font-size: 1.2rem;
}


h1, h2, h3, h4 {
	font-family: 'Permanent Marker', cursive;
	text-align: center;
	padding: 20px 0;
}

a {
	text-decoration: none;
}

body {	
	font-family: 'Open Sans', sans-serif;
	margin: 0; 
	padding: 0;
	overflow-x: hidden;
}


.container {
	width: 80%;
	margin: 0 auto;
}

.container-small {
	width: 60%;
	margin: 0 auto;
}



section:nth-child(odd) {
	background-color: #FAFAFA;
	padding: 70px 50px;
}
section:nth-child(even) {
	background-color: white;
	padding: 70px 50px;
}

.container {
	width: 80%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	background-color: inherit;
}


.text-center {
	text-align: center;
}

.avatar {
	width:  200px;
	height: 200px;
	object-fit: cover;
	border-radius: 50%;
	border: solid 2px grey;
}


.flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

#pictures {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 1fr 1fr 1fr;
	grid-gap: 10px;

}

#pictures img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	
}


@media (max-width:  415px) {
	.container-small, .container {
		width: 100%;
	}

	.banner h1 {
		font-size: 2.5rem;
		text-align: left;
	}

	.banner {
		height: 100vh;
	}

	iframe {
		width: 100%;
	}

	#pictures {
		grid-template-columns: repeat(2, 1fr);
	}

	nav p {
		display: none;
	}

	.nav-links {
		width: 90%;
		margin: 0 auto;
	}

	.footer-copyright {
		display: none;
	}
}








